@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>

@section scripts{
<script src="~/js/familyTree.min.js"></script>

@*Todo - get bundling up and going*@

<script>
    $(function(){
        var canvasInstance = window.canvasApi.init({
            container: 'body', 
            height: 720, 
            width: 1366
        });
        var square = window.visualElement.createRect();
        canvasInstance.addElement(square);
        var rect = window.visualElement.createRect({x: 155, y: 200, width: 222, height: 100});
        canvasInstance.addElement(rect);
        canvasInstance.render();
    });
</script>
}