@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>

@section scripts{
<script src="~/js/familyTree.min.js"></script>

@*todo - get bundling up and going*@

<script>
    $(function(){
        var canvasInstance = window.canvasApi.init({
            container: 'body', 
            height: 720, 
            width: 1366
        });
        
        var node1 = window.visualElement.createNode(250, 200);
        var node2 = window.visualElement.createNode(150, 300);
        var node3 = window.visualElement.createNode(400, 223);
        var edge1 = window.visualElement.createEdge(node1, node2);
        var edge2 = window.visualElement.createEdge(node1, node3);
        var edge3 = window.visualElement.createEdge(node2, node3);
        canvasInstance.addElement(node1);
        canvasInstance.addElement(node2);
        canvasInstance.addElement(node3);
        canvasInstance.addElement(edge1);
        canvasInstance.addElement(edge2);
        canvasInstance.addElement(edge3);

        canvasInstance.render();
    });
</script>
}