@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>
<div id="canvas-container"></div>

@section scripts{
<script src="~/js/familyTree.min.js"></script>
<script>
    var family = {};
    $(function(){
        family = familyApi.createInstance();
    });
</script>
}