@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>

@section scripts{
<script src="~/js/familyTree.min.js"></script>

@*Todo - get bundling up and going*@

<script>
    $(function(){
        var canvasInstance = window.canvasApi.init({
            container: 'body', 
            height: 720, 
            width: 1366
        });
        var square = window.visualElement.createElement({
            drawCallback: window.visualElement.drawSquare
        });
        canvasInstance.addElement(square);
        canvasInstance.render();
    });
</script>
}