@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>
<div id="canvas-container"></div>
<button type="button" id="clear">Clear canvas</button>
<button type="button" id="zoom-in">+</button>
<button type="button" id="zoom-out">-</button>
<button type="button" id="zoom-reset">Reset zoom</button>
<button type="button" id="pan-reset">Reset pan</button>

@section scripts{
<script src="~/js/familyTree.min.js"></script>
<script>
    $(function(){
        window.eventApi.init();
    });
</script>
}