@{
    ViewData["Title"] = "Home";
}

<h1>Canvas testing</h1>

@section scripts{
<script src="~/js/familyTree.min.js"></script>

@*todo - get bundling up and going*@

<script>
    $(function(){
        var canvasInstance = window.canvasApi.init({
            container: 'body', 
            height: 720, 
            width: 1366
        });
        var square = window.visualElement.createRect();
        canvasInstance.addElement(square);
        var rect = window.visualElement.createRect({x: 155, y: 200, width: 222, height: 100});
        canvasInstance.addElement(rect);
        var line = window.visualElement.createLine({drawOptions: { x1: 50, y1: 50, x2: 155, y2: 200 }});
        canvasInstance.addElement(line);
        canvasInstance.render();
    });
</script>
}